                                                  # Data Science Tools and Ecosystem

In [ ]:
                                   In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
      Some of the popular languages that Data Scientists use are:
      1 Python
      2 R
      3 SQL
      4 Julia
      5 Scala

In [ ]:
      Some of the commonly used libraries used by Data Scientists include:
      NumPy
1 Pandas
2 Matplotlib
3 Seaborn
4 Scikit-learn
5 TensorFlow
6 PyTorch
7 Keras
8 NLTK (Natural Language Toolkit)
9 SpaCy

In [ ]:

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| RStudio                 |
| VS Code with Python ext.|

In [ ]:
### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python.
### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples demonstrating how to evaluate arithmetic expressions in Python:

1. **Addition:**
   ```python
   result = 5 + 3
   print(result)  # Output: 8
Substration
result = 10 - 4
print(result)  # Output: 6

result = 7 * 2
print(result)  # Output: 14

result = 15 / 3
print(result)  # Output: 5.0

result = 2 ** 4
print(result)  # Output: 16

In [ ]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

In [ ]:
print(result)

In [ ]:
17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60

# Display the result
hours

In [ ]:
print(hours)

In [ ]:
3.3333

In [ ]:
## Objectives:

- Create a Jupyter Notebook named "DataScienceEcosystem.ipynb."
- Create a markdown cell with the title "Data Science Tools and Ecosystem" using H1 style heading.
- Write an introductory sentence about the notebook.
- Create a markdown cell to list popular data science languages with an ordered list.
- Create a markdown cell to list commonly used data science libraries with an ordered list.
- Create a markdown cell with a table of three development environment open source tools used in data science.
- Create a markdown cell introducing arithmetic expression examples.
- Create a code cell to multiply and add numbers and take a screenshot of the output.
- Create a code cell to convert 200 minutes to hours and take a screenshot of the output.

In [ ]:
## Author:

Insha Yaqoob